<!-- Begin Header -->
<header>
  <div class="container clearfix">
    <div class="burger">
      <div class="burger-brick"></div>
      <div class="burger-brick middle"></div>
      <div class="burger-brick"></div>
    </div>
    <div class="navigation clearfix">
      <ul class="main-menu">
        <li><a href="#warmer">О товаре</a></li>
        <li><a href="#composition">Гарантии</a></li>
        <li><a href="#how-work">Оплати и доставка</a></li>
        <li><a href="#reviews">Отзывы</a></li>
      </ul>
      <a class="el-call-back js-popup" href="#">Заказать звонок</a>
    </div>
  </div>
  <div class="slide">
    <div class="container clearfix">
      <div class="slide-left">
        <span class="three">3</span>
        <div class="logo">
          <a href="index.html">FEMI<span>PLAST</span></a>
          <p>Термопластырь от менструальной боли</p>
        </div>
        <h2>Тройное действие:</h2>
        <ul>
          <li>Снимает спазм</li>
          <li>Обезболивает</li>
          <li>Согревает</li>
        </ul>
      </div>
      <div class="slide-right">
        <h2>Забудь о боли</h2>
        <h2 class="symptoms-title">и симптомах</h2>
        <ul>
          <li>Каждый месяц адская боль</li>
          <li>Жизнь останавливается</li>
          <li>Лезешь на стену</li>
        </ul>
      </div>
      <div class="girl-center">
        <img src="images/girl.png" alt="">
      </div>
    </div>
  </div>
</header>
<!-- End Header -->

