<!-- Begin Order Now -->
<div class="order-now">
  <div class="container">
    <div class="order-now-wrap clearfix">
      <div class="product-box">
        <img src="images/product-box.png" alt="">
      </div>
      <div class="order-now-right">
        <h2>Заполни форму<br>
        и перестань терпеть боль</h2>
        <form class="form" action="ajax.php" method="post">
          <div class="form-field name-field">
            <input type="text" name="name" placeholder="Ваше имя" required="required">
          </div>
          <div class="form-field tel-field">
            <input type="text" class="tel" name="tel" placeholder="Ваш телефон" required="required">
          </div>
          <button class="el-button">Заказать<img src="images/check-btn.png" alt=""></button>
        </form>
      </div>
      <div class="order-now-center clearfix">
        <div class="price-circle">
          <p class="old-price">1690 руб.</p>
          <p class="price">990<span>руб.</span></p>
        </div>
        <h3>Закажи сейчас по супер цене!</h3>
        <p>FEMIPLAST - термопластырь<br>
        от менструальной боли по супер цене.</p>
        <div class="timer-content">
          <div class="timer days">
            <strong class="timer-val">03</strong>
            <span class="timer-colon">:</span>
            <p class="timer-title">дней</p>
          </div>
          <div class="timer hours">
            <strong class="timer-val">16</strong>
            <span class="timer-colon">:</span>
            <p class="timer-title">часов</p>
          </div>
          <div class="timer mins">
            <strong class="timer-val">52</strong>
            <span class="timer-colon">:</span>
            <p class="timer-title">минут</p>
          </div>
          <div class="timer sec">
            <strong class="timer-val">36</strong>
            <p class="timer-title">секунд</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Order Now -->